/* some style */

body {
    font-family: helvetica, sans-serif;
    color: #333;
    background-color: #EEE;
}

h1 {
    font-size: 30px;
    margin: 10px 0;
}

h2 {
    font-size: 20px;
    margin: 4px 0;
}

.progress-bar {
    margin:5px 0;
}

.section.abyssian {
    background-color: #e8aaee;
}

.section.lyonar {
    background-color: #7AD9ED;
}

.section.magmar {
    background-color: #a7ecc1;
}

.section.songhai {
    background-color: #f5ae9e;
}

.section.vanar {
    background-color: #a2cffb;
}

.section.vetruvian {
    background-color: #fcedb1;
}

.section.neutral {
}

progress {
    width: 400px;
    height: 30px;
    background-color: blue;
}

.progress-bar p.percentage {
display: inline-block;
font-size:28px;
vertical-align:bottom;
padding-left:10px;
}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
    border: solid 1px #CCC;
}

progress::-webkit-progress-value {
    background-color: #329ad1;
}

progress::-moz-progress-bar {
    background-color: #329ad1;
}

.missing-count {
    font-weight: bold;
}

.section {
padding: 20px;
border: solid 1px #DDD;
}
